@import './vars';

body {
  background-image: url('../assets/background.jpg');

  app-transaction-item {
    width: 66%;
  }

  .logo {
    background-color: white;
    padding: 20px;

    .highlighter {
      margin-top: 10px;
      color: $primary-blue;
    }
  }

  .header {
    background-color: $primary-blue;
    text-align: left;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    color: white;
  }


  .makeTransfer-header {
    margin-top: 30px;

    .header {
      background: url('../assets/wallet.svg') no-repeat 20px;
      background-color: $primary-blue;

      span {
        margin-left: 30px;
      }

      svg {
        margin-top: 3px;
      }
    }

    form {
      background-color: white;
      border-radius: 0px 0px 5px 5px;
      padding: 30px 20px;

      .amount {
        position: relative;
        border-left: 0px;

        input {
          padding-left: 44px;
        }
      }

      .currencySymbol {
        position: absolute;
        height: 32px;
        padding: 10px 15px;
        left: 0px;
        line-height: 16px;
        border-radius: 5px 0px 0px 5px;
        background-color: #d6d5d5;
        margin: 1px 0px 0px 2px;
        border-radius: 5px 0px 0px 5px;
      }

      .currencySymbol input {
        border: 0;
      }
      small.text-muted{
        color:red;
      }
      //form control stylings
      .form-control.ng-invalid.ng-touched{
        border:2px solid red;
      }
    }
  }

  .transectionList {
    margin-top: 30px;
    position: relative;

    form {
      padding-top: 20px;
      background-color: white;

      span.currencySymbol {
        position: absolute;
        height: 34px;
        padding: 10px 15px;
        left: 0px;
        line-height: 16px;
        border-radius: 5px 0px 0px 5px;
        background-color: #d6d5d5;
      }

      .resultData {
        position: relative;
        padding: 10px 0px;
        margin-bottom: 10px;

        &.text-red {
          border-left: 6px solid red;
        }

        &.text-green {
          border-left: 6px solid green;
        }

        .date {
          line-height: 48px;
        }

        .transectionDetails {
          .merChangeName{
            font:  normal 1.2em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          }
          .transectionType {
            color: #a09e9e;
            font-size: 1em;
          }
        }

        .transectionAmount {
          line-height: 50px;

          &.text-red {
            label {
              color: red;
            }
          }

          &.text-green {
            label {
              color: green;
            }
          }
        }
      }
    }

    #transactions {
      padding-left: 30px;
    }
  }

  hr {
    border: 1px solid rgb(223, 223, 223);
    width: 100%;
  }

  footer {
    height: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: $primary-blue;
  }
}
