<form class="col-lg-12" action="#">
  <div class="form-group transectionFilter col-lg-7">
    <span class="currencySymbol">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span><input type="text" class="form-control " id="transactions" aria-describedby="filterTransactions"
      placeholder="filter transactions">
  </div>
  <div class="dataItems" *ngFor="let transection of trasectionValue">
    <div class="resultData col-lg-12" [ngClass]="transection.amount > 0  ? 'text-green' : 'text-red'">
      <span class="col-lg-2 date">
        {{transection.date}}
      </span>
      <span class="transectionDetails col-lg-8 col-sm-8 col-xs-8">
        <label class="merChangeName">{{transection.merchantName}}</label><br>
        <label class="transectionType">{{transection.type}}</label>
      </span>
      <span class="transectionAmount col-lg-2 col-sm-3 col-xs-3" [ngClass]="transection.amount > 0  ? 'text-green' : 'text-red'">
        <label class="currencySymbol">{{transection.currency}} &nbsp; </label>
        <label class="value"> {{transection.amount}}</label>
      </span>
    </div>
    <hr>
  </div>
</form>